/* host is a special selector which targets the host itself */
:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.post-image {
  width: 100%
}

/* This style is commented beacause, the image looks very bigger
 compared to the video - lec 83 udemy */

/* .post-image img {
  width: 100%;
} */
